<style>
    .custom-heading {
        font-weight:bold!important;
    }
    .custom-footer {
        font-weight:bold;
    }

    .custom-label {
        font-size: 1rem;
    }
    .custom-border-bottom {
        border-bottom: 1px solid #999999;
    }
</style>

<div class="tab-content">
    <div id="overview-tab" role="tabpanel" class="tab-pane active">
        <!-- start dashboard -->
        <div class="resource-dashboard">
            <div class="tab-header-stats">
                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
                        {{count}}
	                </span>
                    <span class="stat-label">
		                Managed Services
	                </span>
                </div>
                <div class="tab-header-stat-item big-stat-block">
                    <span class="stat-content">
                        {{currencySymbol}}{{total}}
                    </span>
                    <span class="stat-label">
		                Total Services Cost
	                </span>
                </div>

                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
                        {{currencySymbol}}{{avg}}
	                </span>
                    <span class="stat-label">
		                Average Service Cost
	                </span>
                </div>

                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
		                {{currencySymbol}}{{max}}
	                </span>
                    <span class="stat-label">
		                Most Expensive Service
	                </span>
                </div>

            </div>
        </div>
        <!-- end dashboard -->

        <!-- start detail -->
        <div class="custom-detail-margin">
            <h2>Service Detail</h2>
            <p>The following managed services are installed on this Instance.</p>
            <table class="table table-striped custom-border-bottom">
                <thead>
                <tr>
                    <th class="custom-heading" style="width:10%">ID</th><th class="custom-heading" style="width:80%">NAME/DESCRIPTION</th><th class="custom-heading" style="width:10%;text-align:right;">COST</th>
                </tr>
                </thead>
                <tbody>
                <!-- how to include the currency symbol within the each -->
                {{#each results}}
                    <tr>
                        <td>{{this.id}}</td><td>{{this.service_name}}</td><td style="text-align:right;">{{../currencySymbol}}{{this.service_cost}}</td>
                    </tr>
                {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                     <td colspan="2" class="custom-footer">TOTAL</td><td class="custom-footer" style="text-align:right;">{{currencySymbol}}{{total}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- end detail -->

    </div>
</div>